//Colors

$color-primary: #91f2ff; //light blue
$color-primary-light: #c4c4ac; //tan
$color-primary-med: #a3b694; //Olive green
$color-primary-darkgreen: #94b976;//Dark olive
$color-primary-dark: #503e14; //brown
$color-secondary-light: #808080; //light grey

$color-orange-light: #ffb900; //light orange
$color-orange-dark: #ff7730; //dark orange

$color-tan-dark: #c4c490; //Dark Tan
$color-tertiary-dark: #00dffd; //Dark Blue

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #333;

$color-secondary-dark: #414141; //dark grey
$color-white: #fff; //white
$color-black: #000; //black

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//Font 
$default-font-size: 1.4rem;